.container {
  display: grid;
  place-content: center;
  gap: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container h1 {
  color: rgb(17, 17, 151);
  text-transform: capitalize;
}

.cardview {
  background-color: chocolate;
  padding: 1rem;
  border-radius: 1rem;
}
